---
layout: default
---

<div>

  {{ content }}

  <h2>Latest Posts</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        {% assign content = post.content | split: '<h1' %}
        {% if content.size > 1 %}
          {% assign first_paragraph = content[1] | split: '</h1>' | last | strip_html | strip_newlines %}
        {% else %}
          {% assign first_paragraph = post.content | strip_html | strip_newlines %}
        {% endif %}
        {{ first_paragraph | truncatewords: 30 }}

      </li>
    {% endfor %}
  </ul>

</div>
